* {
    box-sizing: border-box;
    font-size: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto 50px;
}

.box {
    border: 1px solid black;
    display: inline-block;
}

div.top {
    height:200px;
    width: 50%;
}

div.bottom {
    height: 300px;
    width: 33.333333333%;
}

div.green {
    background-color: #3F7811;
}

div.blue {
    background-color: #0F50F7;
}

div.grey {
    background-color: #808080;
}

div.black {
    background-color: black;
}

div.yellow {
    background-color: #F1A541;
}
